<div class="header-banner slide-up">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="close-button pull-right">
                    <button type="button" class="close" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="content">
                    <div class="html-slot-container">
                        <div class="header-promotion"><strong>FREE 2-Day SHIPPING</strong> FOR ORDERS OVER $300</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>