<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="{{categoryUrl 'womens'}}">
      Womens
    </a>
  </li>

  <li class="breadcrumb-item">
    <a href="{{categoryUrl 'womens-clothing'}}">
      Clothing
    </a>
  </li>

  <li class="breadcrumb-item">
    <a href="{{categoryUrl 'womens-clothing-dresses'}}">
      Dresses
    </a>
  </li>
</ol>
