{{#with content}}
  <div class="hero slant-down content-page-image">
    <h1 class="page-title">{{name}}</h1>
  </div>

  <div class="container content-asset-container">
    {{{c_body}}}
  </div>
{{/with}}