<a href="{{mixedProductUrl}}">
  <div class="hero" style="background-image: url({{staticSharedLibraryUrl '/images/homepage/homepage-4/large.jpg'}}); ">
    <h1 class="page-title">50% off Summer Styles</h1>
  </div>
</a>

<div class="{{@root.app.containerClass}} home-categories homepage">
  {{> 'home/categories' }}
</div>

<div class="{{@root.app.containerClass}} home-product-tiles homepage">
  {{> 'home/productTiles'}}
</div>

<div class="shop-the-style homepage">
  {{> 'home/emailSignup'}}
</div>
