{{#with search}}
  <div class="hero slant-down account-image">
    <h1 class="page-title">50% off Summer Styles</h1>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="container-fluid mixed-product-page">
        <h3 class="mixed-product-page-promo">Find your perfect fit in our new Summer line up.</h3>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="container-fluid mixed-product-page">
        {{> search/productGrid}}
      </div>
    </div>
  </div>
{{/with}}
