<div class="hero slant-down account-image">
  <h1 class="page-title">Order History</h1>
</div>

<div class="{{containerClass}}">
  <div class="row hidden-xs-down">
    <div class="col">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{{homeUrl}}">
            Home
          </a>
        </li>
        <li class="breadcrumb-item">
          <a href="{{accountUrl}}">
            My Account
          </a>
        </li>
        <li class="breadcrumb-item">
          Order History
        </li>
      </ol>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-12 col-sm-4 col-md-3">
      <h4>Order History</h4>
    </div>
    <div class="col-12 col-sm-4 col-md-3">
      <div class="form-group">
        <select class="form-control custom-select order-history-select">
          <option value="https://dev01-instore-dw.demandware.net/on/demandware.store/Sites-SiteGenesis-Site/en_US/Order-Filtered?orderFilter=6">
            Last Six Months
          </option>
          <option value="https://dev01-instore-dw.demandware.net/on/demandware.store/Sites-SiteGenesis-Site/en_US/Order-Filtered?orderFilter=12">
            Last Twelve Months
          </option>
          <option value="https://dev01-instore-dw.demandware.net/on/demandware.store/Sites-SiteGenesis-Site/en_US/Order-Filtered?orderFilter=2017">
            2017
          </option>         
        </select>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="container order-list-container">
      <div class="row">
        <div class="col-xs-12 col-lg-6 offset-lg-3">
          <div class="card">
            <div class="card-header clearfix">
              <h4 class="pull-left">Order No. 00002204</h4>
              <a href="/on/demandware.store/Sites-SiteGenesis-Site/en_US/Order-Details?orderID=00002204&amp;orderFilter=" class="pull-right">View</a>
            </div>
            <div class="card-block card-info-group">
              <div class="row">

                <div class="col-4 hidden-xs-down">
                  <img class="img-fluid" src="//dev01-instore-dw.demandware.net/on/demandware.static/-/Sites-apparel-catalog/default/dwa9620be0/images/small/PG.15J0037EJ.SLABLFB.PZ.jpg"
                    alt="No-Iron Textured Dress Shirt, Slate, small" title="No-Iron Textured Dress Shirt, Slate">
                </div>
                <div class="col-sm-8 col-12">

                  <p>Date Ordered: 4/20/17</p>
                  <p>Order Status: <span class="dashboard-order-card-status">NEW</span></p>
                  <p>Shipped to: Peter Pritchard</p>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <div class="row">
                <div class="col-9 dashboard-order-card-footer-columns card-info-group">
                  <p>Total items</p>
                  <p class="dashboard-order-card-footer-value">
                    2
                  </p>
                </div>
                <div class="col-3 dashboard-order-card-footer-columns card-info-group">
                  <p>Total </p>
                  <p class="dashboard-order-card-footer-value">
                    $104.97
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-lg-6 offset-lg-3">
          <div class="card">

            <div class="card-header clearfix">
              <h4 class="pull-left">Order No. 00002202</h4>
              <a href="/on/demandware.store/Sites-SiteGenesis-Site/en_US/Order-Details?orderID=00002202&amp;orderFilter=" class="pull-right">View</a>
            </div>

            <div class="card-block card-info-group">
              <div class="row">

                <div class="col-4 hidden-xs-down">
                  <img class="img-fluid" src="//dev01-instore-dw.demandware.net/on/demandware.static/-/Sites-apparel-catalog/default/dw72e4de55/images/small/PG.33698RUBN4Q.CHARCWL.PZ.jpg"
                    alt="Charcoal Single Pleat Wool Suit, Charcoal, small" title="Charcoal Single Pleat Wool Suit, Charcoal">
                </div>
                <div class="col-sm-8 col-12">

                  <p>Date Ordered: 4/20/17</p>
                  <p>Order Status: <span class="dashboard-order-card-status">NEW</span></p>
                  <p>Shipped to: Peter Pritchard</p>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <div class="row">
                <div class="col-9 dashboard-order-card-footer-columns card-info-group">
                  <p>Total items</p>
                  <p class="dashboard-order-card-footer-value">
                    2
                  </p>
                </div>
                <div class="col-3 dashboard-order-card-footer-columns card-info-group">
                  <p>Total </p>
                  <p class="dashboard-order-card-footer-value">
                    $670.91
                  </p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-lg-6 offset-lg-3">
          <div class="card">

            <div class="card-header clearfix">
              <h4 class="pull-left">Order No. 00002201</h4>
              <a href="/on/demandware.store/Sites-SiteGenesis-Site/en_US/Order-Details?orderID=00002201&amp;orderFilter=" class="pull-right">View</a>
            </div>

            <div class="card-block card-info-group">
              <div class="row">

                <div class="col-4 hidden-xs-down">
                  <img class="img-fluid" src="//dev01-instore-dw.demandware.net/on/demandware.static/-/Sites-apparel-catalog/default/dw72e4de55/images/small/PG.33698RUBN4Q.CHARCWL.PZ.jpg"
                    alt="Charcoal Single Pleat Wool Suit, Charcoal, small" title="Charcoal Single Pleat Wool Suit, Charcoal">
                </div>
                <div class="col-sm-8 col-12">
                  <p>Date Ordered: 4/20/17</p>
                  <p>Order Status: <span class="dashboard-order-card-status">NEW</span></p>
                  <p>Shipped to: Peter Pritchard</p>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <div class="row">
                <div class="col-9 dashboard-order-card-footer-columns card-info-group">
                  <p>Total items</p>
                  <p class="dashboard-order-card-footer-value">
                    1
                  </p>
                </div>
                <div class="col-3 dashboard-order-card-footer-columns card-info-group">
                  <p>Total </p>
                  <p class="dashboard-order-card-footer-value">
                    $325.48
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-8 col-md-6 text-center">
      <a href="{{accountUrl}}" class="normal">
        Back to My Account
      </a>
    </div>
  </div>
</div>
