<div class="hero slant-down account-image">
  <h1 class="page-title">Gift Registry</h1>
</div>

<div class="{{containerClass}}">
  <div class="row hidden-xs-down">
    <div class="col">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{{homeUrl}}">
            Home
          </a>
        </li>
        <li class="breadcrumb-item">
          <a href="{{accountUrl}}">
            My Account
          </a>
        </li>
        <li class="breadcrumb-item">
          Gift Registry
        </li>
      </ol>
    </div>
  </div>
</div>