<a href="/?lang=en_US">
  <div class="hero slant-up" style="background-image: url({{staticSharedLibraryUrl '/images/homepage/homepage-2/large.jpg'}}); ">
    <h1 class="page-title">Shop the Style</h1>
  </div>
</a>
<div class="home-email-signup">
  <div class="container">
    <form role="form">
      <div class="row">
        <div class="col-sm-5">
          <div class="input-group">
            <input type="text" class="form-control" name="hpEmailSignUp" placeholder="Email" aria-label="Email">
            <span class="input-group-btn">
              <button type="submit" class="btn btn-primary">Subscribe</button>
            </span>
          </div>
        </div>
        <div class="col-sm-7 email-description">Sign up for email to receive 15% off your first order.</div>
      </div>
    </form>
  </div>
</div>
