<div class="card checkout-order-total-summary">
  <div class="card-block order-total-summary">
    <div class="row leading-lines subtotal-item">
      <div class="col-6 start-lines">
        <p class="order-receipt-label"><span>Subtotal</span></p>
      </div>
      <div class="col-6 end-lines">
        <p class="text-right"><span class="sub-total">$83.99</span></p>
      </div>
    </div>
    <div class="row leading-lines order-discount hide-order-discount">
      <div class="col-6 start-lines">
        <p class="order-receipt-label"><span>Order Discount</span></p>
      </div>
      <div class="col-6 end-lines">
        <p class="text-right"><span class="order-discount-total">- $0.00</span></p>
      </div>
    </div>
    <div class="row leading-lines shipping-item">
      <div class="col-6 start-lines">
        <p class="order-receipt-label"><span>Shipping</span></p>
      </div>
      <div class="col-6 end-lines">
        <p class="text-right"><span class="shipping-total-cost">$15.98</span></p>
      </div>
    </div>
    <div class="row leading-lines shipping-discount hide-shipping-discount">
      <div class="col-6 start-lines">
        <p class="order-receipt-label"><span>Shipping Discount</span></p>
      </div>
      <div class="col-6 end-lines">
        <p class="text-right"><span class="shipping-discount-total">- $0.00</span></p>
      </div>
    </div>
    <div class="row leading-lines sales-tax-item">
      <div class="col-6 start-lines">
        <p class="order-receipt-label"><span>Sales Tax</span></p>
      </div>
      <div class="col-6 end-lines">
        <p class="text-right"><span class="tax-total">$5.00</span></p>
      </div>
    </div>
    <div class="row grand-total leading-lines">
      <div class="col-6 start-lines">
        <p class="order-receipt-label"><span>Total</span></p>
      </div>
      <div class="col-6 end-lines">
        <p class="text-right"><span class="grand-total-sum">$104.97</span></p>
      </div>
    </div>
  </div>
</div>
